#Li-root {
    padding-top: 10px!important;
    z-index: 999!important;
    position: absolute!important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4)!important;
    background-color: #fff!important;
    outline: 5px solid #eef5fe!important;
    color: #444!important;
    width: 250px!important;
    height: 265px!important;
    float: none!important;
}

#Li-root * {
    float: none!important;
    background-color: #fff!important;
    width: unset!important;
    height: unset!important;
}

#Li-root .Li-btn-wrapper {
    width: 190px!important;
    margin: 5px 20px!important;
    padding: 0 10px!important;
}

#Li-root .Li-note-btn {
    background-color: #3fc5c7!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
    font-size: 14px!important;
    padding: 3px 6px!important;
    font-weight: 400!important;
    color: #fff!important;
    cursor: pointer!important;
    transition: background-color 0.3s linear!important;
}

#Li-root .Li-saved {
    outline: none!important;
    border-color: #0db3a5!important;
    position: relative!important;
    background-color: #1db3a5!important;
}

#Li-root .Li-note-btn:focus {
    outline: none!important;
}

#Li-root .Li-translation-group-wrapper {
    width: 200px!important;
    margin: 5px auto 10px auto!important;
    height: 220px!important;
    overflow-y: scroll!important;
}

#Li-root .Li-translation-group-wrapper::-webkit-scrollbar {
    width: 3px!important;
}
 
#Li-root .Li-translation-group-wrapper::-webkit-scrollbar-track {
    background-color: #eef5fe!important;
}

/* 为了粗线条的颜色与整体的2ec4b6达到和谐，这里把颜色提亮了一点 */
#Li-root .Li-translation-group-wrapper::-webkit-scrollbar-thumb {
    background-color: #2fc5c7!important;
}

#Li-root .Li-translation-group {
    background-color: #fff!important;
    border-radius: 5px!important;
    padding: 5px!important;
}

#Li-root .Li-translation-group p {
    margin: 5px auto!important;
    padding: 5px!important;
    border-radius: 5px!important;
    background-color: #eef5fe!important;
}

#Li-root .Li-translation {
    font-size: 12px!important;
    color: #333!important;
}

#Li-root .Li-search-item {
    color: #559df3!important;
    font-size: 16px!important;
}